# Docker Compose variables
MYSQL_ROOT_PASSWORD=supersegura
MYSQL_DATABASE=backendapi
MYSQL_USER=metricgates
MYSQL_PASSWORD=metricgatespass

# Build arg for frontend
VITE_API_URL=https://www.metricgate.es
